:root {
	--black: #000000;
	--white: #FFFFFF;
	--dark-gray: #AAAAAA;
	--light-gray: #F4F4F4;
	--black-shadow: #7c7c7c;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: arial, helvetica;
}
img {
	width: 100px;
}
.model--label {
	display: none;
}
aside.receita--print, aside.ficha--print {
	display: none;
}
.permission--model {
	display: none;
	position: absolute;
	top: 50px;
	left: 200px;
	padding: 20px 10px;
	background-color: #FFF;
	box-shadow: 0px 0px 20px #999;
	text-align: center;
	border-radius: 10px;
}
.permission--model span {
	font-weight: bold;
}
.permission--model button:first-child {
	display: block;
}
.permission--model button {
	margin-top: 10px;
}

body {
	height: 100vh;
	background-color: var(--light-gray);
	overflow: hidden;
}

section.dashboard {
	display: flex;
	justify-content: center;
	align-items: center;
	height: inherit;
	gap: 40px;
}
section.dashboard .dashboard--item {
	width: 170px;
	background-color: var(--white);
	border-radius: 20px;
	border:  1px solid var(--dark-gray);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding: 20px 0;
	cursor: pointer;
	font-weight: bold;
	transition: all ease .1s;
}
section.dashboard .dashboard--item:hover {
	background-color: var(--black);
	color: var(--white);
}

section.dashboard .option--print {
	position: absolute;
	transform: translateX(210px);
	background-color: #FFF;
	box-shadow: 0px 0px 20px #999;
	display: none;
	flex-direction: column;
	padding: 20px 10px;
	border-radius: 10px;
	gap: 10px;
}
section.dashboard .option--print .close {
	padding: 10px;
	cursor: pointer;
	font-weight: bold;
	border-radius: 10px;
}
section.dashboard .option--print button {
	width: 140px;
	height: 40px;
	border-radius: 10px;
	border: 1px solid #AAA;
	background-color: #FFF;
	font-weight: bold;
	cursor: pointer;
}
section.dashboard .option--print button:hover, section.dashboard .option--print .close:hover {
	background-color: var(--black);
	color: var(--white);
}

section.fill--doc {
	display: none;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: var(--dark-gray);
}
section.fill--doc .fill-doc--area {
	display: flex;
	flex-direction: column;
	height: 100vh;
	width: 500px;
}
section.fill--doc .fill-doc--area .header {
	position: relative;
	z-index: 999;
	width: 500px;
	height: 70px;
	background-color: var(--white);
	box-shadow: 0px 0px 20px var(--black-shadow);
	padding: 0 10px;
	padding-left: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
section.fill--doc .fill-doc--area .header button {
	width: 116px;
	height: 40px;
	background-color: var(--white);
	border: 1px solid var(--dark-gray);
	border-radius: 10px;
	font-weight: bold;
	letter-spacing: 2px;
	transition: all ease .1s;
}
section.fill--doc .fill-doc--area .header button.remake--btn {
	position: relative;
	left: 60px;
}
section.fill--doc .fill-doc--area .header button:not(.comeBack--btn):hover {
	background-color: var(--black);
	color: var(--white);
	cursor: pointer;
}
section.fill--doc .fill-doc--area .header button.comeBack--btn {
	border: none;
	color: var(--dark-gray);
	cursor: pointer;
}
section.fill--doc .fill-doc--area .header button.comeBack--btn:hover {
	color: var(--black);
}
section.fill--doc .fill-doc--area .form {
	display: flex;
	flex-direction: column;
	gap: 15px;
	width: 500px;
	flex: 1;
	background-color: var(--white);
	box-shadow: 0px 0px 20px var(--black-shadow);
	padding: 40px 40px;
	transform: translateY(400px);
	transition: all ease .2s;
	opacity: 0;
	overflow-y: auto;
}
section.fill--doc .fill-doc--area .form label {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 36px;
}
section.fill--doc .fill-doc--area .form label span {
	font-size: 14px;
	font-weight: bold;
}
section.fill--doc .fill-doc--area .form label input {
	width: 230px;
	height: 36px;
	border-radius: 5px;
	border:  1px solid var(--dark-gray);
	outline: 0;
	padding-left: 10px;
	letter-spacing: 2px;
	font-weight: bold;
}
section.fill--doc .fill-doc--area .form label input::placeholder {
	font-size: 12px;
}


.fill-doc--img {
	position: fixed;
	right: 0;
	top: 0;
	bottom: 0;
	width: calc(100% - 500px);
	display: flex;
	align-items: center;
	justify-content: center;
}
.fill-doc--img img {
	box-shadow: 0px 0px 20px var(--black-shadow);
	width: 400px;
}




.classForm {
	transform: translateY(0) !important;
	opacity: 1 !important; 
}



::-webkit-scrollbar {
	width: 0;
}