@media only print {

	section.dashboard, section.fill--doc {
		display: none !important;
	}

	body {
		background-color: #FFF;
	}

	aside.receita--print .r_header {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	aside.receita--print .r_header .r_header--info {
		text-align: right;
	}
	.r_page--title { 
		width: inherit;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 40px 0 60px 0;
	}
	.r_page--title span {
		width: 550px;
		font-size: 20px;
		text-align: center;
	}
	.r_page--title::before {
		content: '';
		display: block;
		width: 100%;
		height: 1px;
		background-color: #CCC;
	}
	.r_page--title::after {
		content: '';
		display: block;
		width: 100%;
		height: 1px;
		background-color: #CCC;
	}
	aside.receita--print .r_data--animal {

	}
	aside.receita--print .r_data--animal .data {
		display: flex;
		flex-wrap: wrap;
		gap: 5px;
	}
	aside.receita--print .r_data--animal .data .info {
		flex: 1;
		min-width: 49.6%;
		height: 36px;
		background-color: #EEE;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		padding-left: 10px;
		border-radius: 5px;
		font-size: 14px;
	}
	aside.receita--print .r_data--animal .data .info:first-child {
		min-width: 100%;
	}
	aside.receita--print .r_data--animal .data .info span {
		text-transform: uppercase;
		padding-left: 10px;
	}
	aside.receita--print .r_data--animal .r_data--medicines {
		width: 100%;
		height: 490px;
		background-color: #EEE;
		border-radius: 5px;
		margin-top: 20px;
		padding: 10px;
		display: flex;
		justify-content: center;
		align-items: flex-start;
	}

	aside.receita--print .r_data--doctor {
		display: flex;
		justify-content: space-between;
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
	}
	aside.receita--print .r_data--doctor div {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 10px;
		font-size: 14px;
	}
	aside.receita--print .r_data--doctor .r_line {
		display: block;
		width: 140px;
		height: 1px;
		background-color: #CCC;
	}
	aside.receita--print .r_data--doctor .doctor--signature .r_line {
		width: 300px;
	}

	aside.receita--print .r_data--doctor .date--area .r_line {
		display: flex;
		flex-direction: column-reverse;
		align-items: center;
	}
}